option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application

packages:
  yum:
    git: []

commands:
  01_install_dependencies:
    command: "pip3 install -r requirements.txt"  # Update with your requirements file name

container_commands:
  01_app_start:
    command: "python app.py"  # Use the appropriate command to start your Flask app
